#footer-section{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(58, 43, 61);
}
.headings{
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    padding-top: 4%;
}
.top-heading h3{
    margin-bottom:10%;
}
h3{
    color: whitesmoke;
    
}
ul li{
    list-style: none;
    color: lightgray;
    text-align: start;
    position: relative;
    left: 20%;
    line-height: 180%;
}
.heading-4{
    text-align: end;
    margin-right: 10%;
}
.heading-4 p{
    color: lightgray;
    text-align: right;
}